interactions:
- request:
    body: null
    headers:
      authorization:
      - Basic ZWxhc3RpYzp5cWNHcFJxVTlNazRGUW1zdkpLeEw5VW8=
    method: GET
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/ent/v1/internal/health
  response:
    body:
      string: '{"name":"8a5386c434c2","version":{"number":"8.1.0","build_hash":"233d9108d258845ddd4a36915d45e22c19024981","build_date":"2022-03-03T14:31:36+00:00"},"jvm":{"gc":{"collection_count":35,"collection_time":5263,"garbage_collectors":{"Copy":{"collection_count":30,"collection_time":2813},"MarkSweepCompact":{"collection_count":5,"collection_time":2450}}},"pid":8,"uptime":6514644,"memory_usage":{"heap_init":1289748480,"heap_used":594640040,"heap_committed":1246756864,"heap_max":1246756864,"object_pending_finalization_count":0,"non_heap_init":7667712,"non_heap_committed":308342784},"memory_pools":["CodeHeap
        \u0027non-nmethods\u0027","Metaspace","Tenured Gen","CodeHeap \u0027profiled
        nmethods\u0027","Eden Space","Survivor Space","Compressed Class Space","CodeHeap
        \u0027non-profiled nmethods\u0027"],"threads":{"thread_count":23,"peak_thread_count":32,"total_started_thread_count":72,"daemon_thread_count":13},"vm_version":"11.0.13+8-Ubuntu-0ubuntu1.20.04","vm_vendor":"Ubuntu","vm_name":"OpenJDK
        64-Bit Server VM"},"filebeat":{"pid":72,"alive":true,"restart_count":0,"seconds_since_last_restart":-1},"metricbeat":{"alive":false},"esqueues_me":{"instance":{"created_at":1646951624033,"scheduled_at":1646951624033,"processing_started_at":1646951624090,"processing_latency":57,"total_processed":17,"time_since_last_scheduled":1778919,"time_since_last_processed":1778862},"Work::Engine::EngineDestroyer":{"created_at":1646951624033,"scheduled_at":1646951624033,"processing_started_at":1646951624090,"processing_latency":57,"total_processed":17,"time_since_last_scheduled":1778919,"time_since_last_processed":1778862}},"crawler":{"running":true,"workers":{"pool_size":2,"active":0,"available":2}},"system":{"java_version":"11.0.13","jruby_version":"9.2.16.0","os_name":"Linux","os_version":"5.4.0-1032-gcp"},"cluster_uuid":"B1R0DzFmRKCoGl4ib42t7w"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"623d427d834003e23852837621bb41a6"
      X-Cloud-Request-Id:
      - k1G5hXjDSRKkCnfeaWVjUw
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
    status:
      code: 200
      message: OK
version: 1
