interactions:
- request:
    body: null
    headers:
      authorization:
      - Basic ZWxhc3RpYzp5cWNHcFJxVTlNazRGUW1zdkpLeEw5VW8=
    method: GET
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/ent/v1/internal/stats
  response:
    body:
      string: '{"cluster_uuid":"B1R0DzFmRKCoGl4ib42t7w","http":{"connections":{"current":6,"max":38,"total":1388},"request_duration_ms":{"max":72381,"mean":31457.7004341534,"std_dev":4976.998594428453},"network_bytes":{"received_total":1585843,"received_rate":0,"sent_total":5463819,"sent_rate":0},"responses":{"1xx":0,"2xx":2399,"3xx":0,"4xx":12,"5xx":0}},"app":{"pid":8,"start":"2022-03-10T23:11:06+00:00","end":"2022-03-10T23:12:06+00:00","metrics":{"timers.http.request.all":{"sum":258.47601890563965,"max":78.5210132598877,"mean":18.46257277897426},"timers.http.request.200":{"sum":258.47601890563965,"max":78.5210132598877,"mean":18.46257277897426},"timers.actastic.relation.search":{"sum":74.78302344679832,"max":8.070411160588264,"mean":4.985534896453221},"timers.actastic.relation.document_count":{"sum":33.80800597369671,"max":3.9616338908672333,"mean":3.380800597369671},"timers.cron.local.cron-refresh_elasticsearch_license.total_job_time":{"sum":7.745834067463875,"max":7.745834067463875,"mean":7.745834067463875},"timers.cron.local.cron-update_search_relevance_suggestions.total_job_time":{"sum":54.193636402487755,"max":54.193636402487755,"mean":54.193636402487755},"counters.http.request.all":14,"counters.http.request.200":14}},"queues":{"engine_destroyer":{"pending":0},"process_crawl":{"pending":0},"mailer":{"pending":0},"failed":[]},"connectors":{"alive":true,"pool":{"extract_worker_pool":{"running":true,"queue_depth":0,"size":1,"busy":1,"idle":0,"total_scheduled":1,"total_completed":0},"subextract_worker_pool":{"running":true,"queue_depth":0,"size":0,"busy":0,"idle":0,"total_scheduled":0,"total_completed":0},"publish_worker_pool":{"running":true,"queue_depth":0,"size":0,"busy":0,"idle":0,"total_scheduled":0,"total_completed":0}},"job_store":{"waiting":0,"working":0,"job_types":{"full":0,"incremental":0,"delete":0,"permissions":0}}},"crawler":{"global":{"crawl_requests":{"pending":0,"active":0,"successful":0,"failed":0}},"node":{"pages_visited":0,"urls_allowed":0,"urls_denied":{},"status_codes":{},"queue_size":{"primary":0,"purge":0},"active_threads":0,"workers":{"pool_size":2,"active":0,"available":2}}},"product_usage":{"app_search":{"total_engines":5},"workplace_search":{"total_org_sources":0,"total_private_sources":0,"total_queries_last_30_days":0}}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"5fdee13797bbe623fee0bc75353be447"
      X-Cloud-Request-Id:
      - 9t6TxfkYS9-xnrI_s1X7uQ
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Basic ZWxhc3RpYzp5cWNHcFJxVTlNazRGUW1zdkpLeEw5VW8=
    method: GET
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/ent/v1/internal/stats?include=connectors,queues
  response:
    body:
      string: '{"connectors":{"alive":true,"pool":{"extract_worker_pool":{"running":true,"queue_depth":0,"size":1,"busy":1,"idle":0,"total_scheduled":1,"total_completed":0},"subextract_worker_pool":{"running":true,"queue_depth":0,"size":0,"busy":0,"idle":0,"total_scheduled":0,"total_completed":0},"publish_worker_pool":{"running":true,"queue_depth":0,"size":0,"busy":0,"idle":0,"total_scheduled":0,"total_completed":0}},"job_store":{"waiting":0,"working":0,"job_types":{"full":0,"incremental":0,"delete":0,"permissions":0}}},"queues":{"engine_destroyer":{"pending":0},"process_crawl":{"pending":0},"mailer":{"pending":0},"failed":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"5ebfdeaf9e3c855c552df3b56cd305c5"
      X-Cloud-Request-Id:
      - gRT9G4f7Ryi9AsJupHocNA
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
    status:
      code: 200
      message: OK
version: 1
