interactions:
- request:
    body: '{"query":"tree","page":{"size":2}}'
    headers:
      authorization:
      - Bearer private-ybzoyx7cok65hpxyxkwaarnn
      content-type:
      - application/json
    method: POST
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/as/v1/engines/national-parks-demo/search
  response:
    body:
      string: '{"meta":{"alerts":[],"warnings":[],"precision":2,"page":{"current":1,"total_pages":10,"total_results":20,"size":2},"engine":{"name":"national-parks-demo","type":"default"},"request_id":"HduTq2QERG2-xjFjx0JWhA"},"results":[{"visitors":{"raw":1.1312786E7},"square_km":{"raw":2114.2},"world_heritage_site":{"raw":"true"},"date_established":{"raw":"1934-06-15T05:00:00+00:00"},"description":{"raw":"The
        Great Smoky Mountains, part of the Appalachian Mountains, span a wide range
        of elevations, making them home to over 400 vertebrate species, 100 tree species,
        and 5000 plant species. Hiking is the park''s main attraction, with over 800
        miles (1,300 km) of trails, including 70 miles (110 km) of the Appalachian
        Trail. Other activities include fishing, horseback riding, and touring nearly
        80 historic structures."},"location":{"raw":"35.68,-83.53"},"acres":{"raw":522426.88},"_meta":{"id":"park_great-smoky-mountains","engine":"national-parks-demo","score":1.6969186E7},"id":{"raw":"park_great-smoky-mountains"},"title":{"raw":"Great
        Smoky Mountains"},"nps_link":{"raw":"https://www.nps.gov/grsm/index.htm"},"states":{"raw":["Tennessee","North
        Carolina"]}},{"visitors":{"raw":5969811.0},"square_km":{"raw":4862.9},"world_heritage_site":{"raw":"true"},"date_established":{"raw":"1919-02-26T06:00:00+00:00"},"description":{"raw":"The
        Grand Canyon, carved by the mighty Colorado River, is 277 miles (446 km) long,
        up to 1 mile (1.6 km) deep, and up to 15 miles (24 km) wide. Millions of years
        of erosion have exposed the multicolored layers of the Colorado Plateau in
        mesas and canyon walls, visible from both the north and south rims, or from
        a number of trails that descend into the canyon itself."},"location":{"raw":"36.06,-112.14"},"acres":{"raw":1201647.03},"_meta":{"id":"park_grand-canyon","engine":"national-parks-demo","score":8954717.0},"id":{"raw":"park_grand-canyon"},"title":{"raw":"Grand
        Canyon"},"nps_link":{"raw":"https://www.nps.gov/grca/index.htm"},"states":{"raw":["Arizona"]}}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"bd80d5461a85f4071c9a65b84f6546ba"
      X-App-Search-Version:
      - 8.1.0
      X-Cloud-Request-Id:
      - HduTq2QERG2-xjFjx0JWhA
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
      X-St-Internal-Rails-Version:
      - 5.2.6
    status:
      code: 200
      message: OK
version: 1
