interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer private-ybzoyx7cok65hpxyxkwaarnn
    method: GET
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/as/v1/engines/national-parks-demo/documents/list?page%5Bcurrent%5D=3&page%5Bsize%5D=2
  response:
    body:
      string: '{"meta":{"page":{"current":3,"total_pages":30,"total_results":59,"size":2}},"results":[{"visitors":4295127.0,"square_km":595.8,"date_established":"1919-11-19T06:00:00+00:00","world_heritage_site":"false","description":"Located
        at the junction of the Colorado Plateau, Great Basin, and Mojave Desert, this
        park contains sandstone features such as mesas, rock towers, and canyons,
        including the Virgin River Narrows. The various sandstone formations and the
        forks of the Virgin River create a wilderness divided into four ecosystems:
        desert, riparian, woodland, and coniferous forest.","location":"37.3,-113.05","acres":147237.02,"id":"park_zion","title":"Zion","nps_link":"https://www.nps.gov/zion/index.htm","states":["Utah"]},{"visitors":4257177.0,"square_km":8983.2,"date_established":"1872-03-01T06:00:00+00:00","world_heritage_site":"true","description":"Situated
        on the Yellowstone Caldera, the park has an expansive network of geothermal
        areas including boiling mud pots, vividly colored hot springs such as Grand
        Prismatic Spring, and regularly erupting geysers, the best-known being Old
        Faithful. The yellow-hued Grand Canyon of the Yellowstone River contains several
        high waterfalls, while four mountain ranges traverse the park. More than 60
        mammal species including gray wolves, grizzly bears, black bears, lynxes,
        bison, and elk, make this park one of the best wildlife viewing spots in the
        country.","location":"44.6,-110.5","acres":2219790.71,"id":"park_yellowstone","title":"Yellowstone","nps_link":"https://www.nps.gov/yell/index.htm","states":["Wyoming","Montana","Idaho"]}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"96bde9047efd604df9f8ff0a771e7910"
      X-App-Search-Version:
      - 8.1.0
      X-Cloud-Request-Id:
      - Lwxk1onVT_WpCsSwptErDA
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
    status:
      code: 200
      message: OK
version: 1
