interactions:
- request:
    body: '{"query":"ca","types":{"documents":{"fields":["title"]}}}'
    headers:
      authorization:
      - Bearer private-ybzoyx7cok65hpxyxkwaarnn
      content-type:
      - application/json
    method: POST
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/as/v1/engines/national-parks-demo/query_suggestion
  response:
    body:
      string: '{"results":{"documents":[{"suggestion":"cave"},{"suggestion":"canyon"},{"suggestion":"canyonlands"},{"suggestion":"capitol"},{"suggestion":"capitol
        reef"},{"suggestion":"carlsbad caverns"},{"suggestion":"cascades"},{"suggestion":"canyon
        of"},{"suggestion":"canyon of the"},{"suggestion":"canyon of the gunnison"}]},"meta":{"request_id":"H2-JTFaXT_qUjkzHdct-9g"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"c4f24414760523290f3f43e33a602b0a"
      X-App-Search-Version:
      - 8.1.0
      X-Cloud-Request-Id:
      - H2-JTFaXT_qUjkzHdct-9g
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
      X-St-Internal-Rails-Version:
      - 5.2.6
    status:
      code: 200
      message: OK
version: 1
