interactions:
- request:
    body: '{"query":{"match":{"*":"client"}}}'
    headers:
      authorization:
      - Bearer private-ybzoyx7cok65hpxyxkwaarnn
      content-type:
      - application/json
    method: POST
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/as/v0/engines/elastic-docs/elasticsearch/_search?sort=_score
  response:
    body:
      string: '{"took":0,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"95041d5366989a0ed1304624d63355eb"
      X-App-Search-Version:
      - 8.4.0
      X-Cloud-Request-Id:
      - opbW3tOmRSOqGzamTfbLOQ
      X-Found-Handling-Cluster:
      - c99499ef963b4d11a9312e341f6d32cb
      X-Found-Handling-Instance:
      - instance-0000000001
    status:
      code: 200
      message: OK
version: 1
