interactions:
- request:
    body: '{"name":"source-engine-1","language":"en"}'
    headers:
      authorization:
      - Bearer private-ybzoyx7cok65hpxyxkwaarnn
      content-type:
      - application/json
    method: POST
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/as/v1/engines
  response:
    body:
      string: '{"name":"source-engine-1","type":"default","language":"en","index_create_settings_override":{},"document_count":0}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"8e4dad171b0b35fa8537e16a312c4f80"
      X-App-Search-Version:
      - 8.1.0
      X-Cloud-Request-Id:
      - -psbImP2Q0GWTzsuLTGKtw
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name":"meta-engine","source_engines":["source-engine-1","source-engine-2"],"type":"meta"}'
    headers:
      authorization:
      - Bearer private-ybzoyx7cok65hpxyxkwaarnn
      content-type:
      - application/json
    method: POST
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/as/v1/engines
  response:
    body:
      string: '{"name":"meta-engine","type":"meta","source_engines":["source-engine-1","source-engine-2"],"document_count":0}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"7b504aac9617f27121710b9176cf3400"
      X-App-Search-Version:
      - 8.1.0
      X-Cloud-Request-Id:
      - dufamfwXT3SufZarHdY1lw
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
    status:
      code: 200
      message: OK
- request:
    body: '["source-engine-1","source-engine-2"]'
    headers:
      authorization:
      - Bearer private-ybzoyx7cok65hpxyxkwaarnn
      content-type:
      - application/json
    method: DELETE
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/as/v1/engines/meta-engine/source_engines
  response:
    body:
      string: '{"name":"meta-engine","type":"meta","source_engines":[],"document_count":0}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"4e347dd8db096ff0ad7e0523713c99cf"
      X-App-Search-Version:
      - 8.1.0
      X-Cloud-Request-Id:
      - csFxyVELR7yjJM8BOmYKSQ
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
    status:
      code: 200
      message: OK
[...]
- request:
    body: '["source-engine-added"]'
    headers:
      authorization:
      - Bearer private-ybzoyx7cok65hpxyxkwaarnn
      content-type:
      - application/json
    method: POST
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/as/v1/engines/meta-engine/source_engines
  response:
    body:
      string: '{"name":"meta-engine","type":"meta","source_engines":["source-engine-added"],"document_count":0}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"f357764862ac63274e948de160e1b890"
      X-App-Search-Version:
      - 8.1.0
      X-Cloud-Request-Id:
      - LSJBJJTdRiezYYilN64LIw
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
    status:
      code: 200
      message: OK
version: 1
