interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer private-ybzoyx7cok65hpxyxkwaarnn
    method: GET
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/as/v1/engines
  response:
    body:
      string: '{"meta":{"page":{"current":1,"total_pages":1,"total_results":3,"size":25}},"results":[{"name":"source-engine-2","type":"default","language":null,"index_create_settings_override":{},"document_count":0},{"name":"source-engine-1","type":"default","language":"en","index_create_settings_override":{},"document_count":0},{"name":"national-parks-demo","type":"default","language":null,"index_create_settings_override":{},"document_count":59}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"2379e964efe468d67700b00bf2acabd4"
      X-App-Search-Version:
      - 8.1.0
      X-Cloud-Request-Id:
      - oNrabsDjRnu-cplYaKSBvQ
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
    status:
      code: 200
      message: OK
version: 1
