interactions:
- request:
    body: '[{"nps_link":"https://www.nps.gov/zion/index.htm","title":"Zion","date_established":"1919-11-19T06:00:00+00:00","world_heritage_site":"false","states":["Utah"],"description":"Located
      at the junction of the Colorado Plateau, Great Basin, and Mojave Desert, this
      park contains sandstone features such as mesas, rock towers, and canyons, including
      the Virgin River Narrows. The various sandstone formations and the forks of
      the Virgin River create a wilderness divided into four ecosystems: desert, riparian,
      woodland, and coniferous forest.","visitors":4295127.0,"id":"park_zion","location":"37.3,-113.05","square_km":595.8,"acres":147237.02},{"nps_link":"https://www.nps.gov/yell/index.htm","title":"Yellowstone","date_established":"1872-03-01T06:00:00+00:00","world_heritage_site":"true","states":["Wyoming","Montana","Idaho"],"description":"Situated
      on the Yellowstone Caldera, the park has an expansive network of geothermal
      areas including boiling mud pots, vividly colored hot springs such as Grand
      Prismatic Spring, and regularly erupting geysers, the best-known being Old Faithful.
      The yellow-hued Grand Canyon of the Yellowstone River contains several high
      waterfalls, while four mountain ranges traverse the park. More than 60 mammal
      species including gray wolves, grizzly bears, black bears, lynxes, bison, and
      elk, make this park one of the best wildlife viewing spots in the country.","visitors":4257177.0,"id":"park_yellowstone","location":"44.6,-110.5","square_km":8983.2,"acres":2219790.71}]'
    headers:
      authorization:
      - Bearer private-ybzoyx7cok65hpxyxkwaarnn
      content-type:
      - application/json
    method: POST
    uri: https://my-deployment-c6095a.ent.us-central1.gcp.cloud.es.io/api/as/v1/engines/national-parks-demo/documents
  response:
    body:
      string: '[{"id":"park_zion","errors":[]},{"id":"park_yellowstone","errors":[]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"bc9506a8cb5ce5a39da0ec392c1c4c7c"
      X-App-Search-Version:
      - 8.1.0
      X-Cloud-Request-Id:
      - ZB0YLI8ITG2ArbAU4EJ0tg
      X-Found-Handling-Cluster:
      - efbb93a5d1bb4b3f90f192c495ee00d1
      X-Found-Handling-Instance:
      - instance-0000000000
    status:
      code: 200
      message: OK
version: 1
